<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <ul>
            <% categories.forEach(category => { %>
                <li>
                    <!-- The category name is now a link -->
                    <a href="/category/<%= category.category_id %>"><%= category.category_name %></a>
                </li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>