<%- include('partials/header') %>
    <main>
        <div class="organization-details">
            
            <img src="/images/<%= organization.logo_filename %>" alt="Logo de <%= organization.name %>" style="float: right; max-width: 250px; margin-left: 20px;">
            
            <h1><%= organization.name %></h1>
            <p><strong>Contact:</strong> <%= organization.contact_email %></p>
            <p><%= organization.description %></p>
        </div>
        
        <h2>Service Projects Hosted by <%= organization.name %></h2>
        
        <% if (projects && projects.length > 0) { %>
            <ul>
                <% projects.forEach(project => { %>
                    <li>
                        <strong><a href="/project/<%= project.project_id %>"><%= project.title %></a></strong> 
                        - <%= project.date.toDateString() %>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>This organization has no upcoming projects.</p>
        <% } %>
    </main>
<%- include('partials/footer') %>