<%- include('partials/header') %>
    <main>
        <div class="project-details">
            <h1><%= project.title %></h1>

            <p style="margin-top: -10px; margin-bottom: 20px;">
                <a href="/edit-project/<%= project.project_id %>" style="font-weight: bold; color: #0056b3; text-decoration: none;">[ Edit Project ]</a>
            </p>
            
            <div class="category-tags" style="margin-bottom: 1rem;">
                <strong>Categories:</strong> 
                <% categories.forEach(cat => { %>
                    <a href="/category/<%= cat.category_id %>" style="margin-right: 10px; text-decoration: underline;"><%= cat.category_name %></a>
                <% }); %>
            </div>
            
            <p><strong>Date:</strong> <%= project.date.toDateString() %></p>
            <p><strong>Location:</strong> <%= project.location %></p>
            <p><strong>Venue:</strong> <%= project.venue %></p>
            
            <p>
                <strong>Partner Organization:</strong> 
                <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>
            </p>
            
            <div class="description">
                <p><%= project.description %></p>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>