<%- include('partials/header') %>
    <main>
        <div class="project-details">
            <h1><%= project.title %></h1>
            
            <p><strong>Date:</strong> <%= project.date.toDateString() %></p>
            
            <!-- Note: it isn't in my  database yet! -->
            
            <p>
                <strong>Partner Organization:</strong> 
                <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>
            </p>
            
            <div class="description">
                <p><%= project.description %></p>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>